
*{
padding : 0;
margin : 15px;
border : 0;
}

body, p, td, div
{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 11pt;
}

h1,h2,h3,h4,h5,h6
{
    margin-top: 20px;
}

.finisherTable
{
    width: 600px;
    border-collapse:collapse
}

.finisherTable > thead > tr
{
    font-weight: bold;
}

.finisherTable tr:nth-child(even)
{
    background-color: #EEE;
}

@media print {
    .pagebreak {
        page-break-after: always;
    }
}
