
*{
padding : 0;
margin : 0;
border : 0;
}

body, p, td, div {
	font-family: Verdana, Geneva, Arial, sans-serif; 
	font-size: 11pt;
}

body{
}

input 
{
	border: 1px solid #eeeeee;
}

/* Navigation Menu */
#NavMenu
{
clear: both;
background-image : url('/mobile/assets/MobileSplash.png ');
background-repeat : no-repeat;
padding-top: 80px;
padding-bottom: 10px;
}

#NavMenu ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#NavMenu li
{
	float: left;
}

#NavMenu a, 
#NavMenu a:link,
#NavMenu a:visited
{
	display: block;
	font-size: 8pt;
	padding-right: 5px;
	color: #1E90FF;
}
#NavMenu a:hover
{
	color: #FFC0CB;
}

.Yellow
{
	background-color: yellow;
}
.Green
{
	background-color: limegreen;
}
.Pink
{
	background-color: magenta;
}
