
*{
padding : 0;
margin : 0;
border : 0;
}

body, p, td, div {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 18pt;
}
h2{
padding-left: 15px;
padding-top: 30px;
}
h3{
padding-left: 25px;
}

body{
}

#CoralReef
{
position: fixed;
background-image : url('/dashboard/assets/CoralReefSwim.png');
background-repeat: no-repeat
background-size : 100%, auto;
top: 30;
left: 30;
width: 435px;
height: 170px;
z-index: -1;
}

#logo
{
position: fixed;
background-image : url('/dashboard/assets/2019_logo.png');
background-size: 100%, auto;
bottom: 30;
right: 30;
width: 400px;
height: 488px;
z-index: -1;
}

.heading
{
padding-top: 30px;
text-align: center;
}

.raceTimes
{
    font-size: 8pt;
    position:absolute;
    top:30;
    right:30;
}
.raceTimes p
{
font-size: 12pt;
clear: both;
text-align: center;
}


/* SCROLLING */
#scrollableTable
{
height: 70%;
overflow: hidden;
width: 80%;
/*border: red 1px solid;*/
margin-left: 20px;
margin-top: 105px;
}
#finishedScrolling
{
height: 60%;
/*border: blue 1px solid;*/
}
#startScrolling
{
height: 80%;
/*border: purple 1px solid;*/
}

#spacer
{
height: 40%;
/*border: green 1px solid;*/
}



/* Results Table */

.finisherTable
{
width: 90%;
/*margin-top: 120px;*/
}
.finisherTableSpace
{
width: 900px;
table-layout: fixed;
}

.finisherTable td, .finisherTableSpace td
{
padding-left: 10px;
font-size: 12pt;
font-weight: bold;
padding-top: 10px;
}
.finisherTable thead td, .finisherTableSpace thead td
{
font-weight: bold;
color: Red;
}
.finisherTable .race
{
font-size: 12pt;
font-weight: bold;
padding-left: 10px;
}
.finisherTable .cap
{
background-position: center;
background-size: 20px 20px;
background-repeat: no-repeat;
}
.finisherTable .Yellow
{
background-position: center;
background-size: 30px 30px;
background-repeat: no-repeat;
background-image : url('/dashboard/assets/yellowcap.png');
}
.finisherTable .Pink
{
background-position: center;
background-size: 30px 30px;
background-repeat: no-repeat;
background-image : url('/dashboard/assets/pinkcap.png');
}
.finisherTable .Green
{
background-position: center;
background-size: 30px 30px;
background-repeat: no-repeat;
background-image : url('/dashboard/assets/greencap.png');
}
.finisherTable .hasFins
{
background-position: center;
background-size: 30px 30px;
background-repeat: no-repeat;
background-image : url('/dashboard/assets/fins.png');
}
.finisherTable .location
{
    text-align: right;
}


